#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Default";
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
                &kp D    &kp E    &kp F
            >;
            // sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
            sensor-bindings = <&inc_dec_kp Q W &inc_dec_kp O P &inc_dec_kp L J>;
        };

        second_layer {
            // status = "reserved";
            bindings = <
                &kp LC(Z)   &kp LC(LS(Z))   &kp LC(Q)
                &kp P       &kp E           &kp LC(NUMBER_0)
                &kp M       &kp LC(S)       &kp DOT
            >;
            sensor-bindings = <&inc_dec_kp MINUS SINGLE_QUOTE &inc_dec_kp LC(EQUAL) LC(MINUS) &inc_dec_kp LEFT_BRACKET RIGHT_BRACKET>;
        };
    };
};